:12346 {
	reverse_proxy localhost:12345 {
		header_up Accept-Encoding "gzip"
	}

	encode gzip {
		# When this is set to 600, the client reads the servers' response writes ~immediately
		# When this is set to 512, the client only reads the headers and doesn't receive the response writes until the entire
		# response is written
		minimum_length 512
		match {
			header Content-Type "*"
		}
	}

	header X-Debug-Accept-Encoding "{http.request.header.Accept-Encoding}"
	header X-Debug-User-Agent "{http.request.header.User-Agent}"

	log {
		output stdout
		format json
	}
}
